
ul.slimmenu li a:hover,
ul.slimmenu li a.mPS2id-highlight,
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li a:hover,
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li a.mPS2id-highlight,
#royal_preloader.royal_preloader_number .royal_preloader_percentage:after,
.menu > ul > li a:hover,
.menu > ul > li > ul > li p span,
.menu > ul > li > ul > li a span,
.menu > ul > li a.curent-multi-page,
.cbp-af-header.cbp-af-header-shrink .menu > ul > li a.curent-multi-page,
.menu.light > ul > li a.curent-multi-page,
.cbp-af-header.cbp-af-header-shrink .menu.light > ul > li a.curent-multi-page,
.error,
.menu a span.link-icon,
.menu > ul > li > ul.normal-sub li a.subtitled,
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub li a.subtitled,
.logo-down-wrap .logo-down-icon,
.about-wrap .about-icon,
.menu.light > ul > li a.social:hover,
.cbp-af-header.cbp-af-header-shrink .menu.light > ul > li a.social:hover,
.menu > ul > li a.social:hover,
.cbp-af-header.cbp-af-header-shrink .menu > ul > li a.social:hover,
.about-wrap .about-icon,
.list-social-team li.icon-team a:hover,
.counter-wrap.freelance-num p,
.tp-caption.Newspaper-Subtitle,
.Newspaper-Subtitle,
.cart-slide-out .cart-slide-out-item .inside-cart-out-item p,
.cart-slide-out .cart-slide-out-item .inside-cart-out-item a:hover,
.portfolio-box-1 .product-det h4 span,
.blog-post h4:hover,
.blog-post h5:hover,
.com-views span,
.author:hover,
.tags a:hover,
.go-to-post:hover,
.go-to-post:hover span,
.link-recents a:hover,
.name-aut-replay a,
.price-description .stock,
.price-description .sku a:hover,
.price-description h3 span,
.checkout-wrap .name:hover,
.checkout-wrap .total,
.prices-wrap.colored p {
    color: #e87638;
}
#royal_preloader.royal_preloader_progress .royal_preloader_meter,
.list-social-footer li:hover,
#cd-zoom-in, #cd-zoom-out,
#ajax-form button:hover,
#owl-slider.owl-theme .owl-controls .owl-page span:hover,
#owl-slider.owl-theme .owl-controls .owl-page.active span,
.home-text-wrap p span,
#owl-sep-1.owl-theme .owl-controls .owl-page span:hover,
#owl-sep-1.owl-theme .owl-controls .owl-page.active span,
#owl-blog.owl-theme .owl-controls .owl-page span:hover,
#owl-blog.owl-theme .owl-controls .owl-page.active span,
#owl-blog-1.owl-theme .owl-controls .owl-page span:hover,
#owl-blog-1.owl-theme .owl-controls .owl-page.active span,
#owl-product.owl-theme .owl-controls .owl-page span:hover,
#owl-product.owl-theme .owl-controls .owl-page.active span,
.tp-loader.spinner2,
.portfolio-box-1 .product-det .product-links a:hover,
.portfolio-box-1 .product-det .product-links a:first-child,
.pro-bar,
.pricing-plan .button,
.sidebar input:active,
.sidebar input:focus,
.link-tag a:hover,
.comments button,
.checkout-button:hover {
	background-color: #e87638;
}
.audiojs .progress,
.price-description button {
	background: #e87638;
}
#filter li .current,
#filter li a:hover  {
	border:2px solid #e87638;
}
#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {	
	border-bottom:1px solid #e87638;
}
.menu.light #ajax-form textarea:focus,
.menu.light #ajax-form input:focus,
.menu.light #ajax-form textarea:active,
.menu.light #ajax-form input:active {	
	border-bottom:1px solid #e87638;
}
.comments textarea:focus,
.comments input:focus,
.comments textarea:active,
.comments input:active {	
	border-bottom:1px solid #e87638;
}
.gu-box{
	border-left:2px solid #e87638;
}
.sidebar input:-ms-input-placeholder  {
	color:#e87638;
}
.sidebar input::-moz-placeholder  {
	color:#e87638;
}
.sidebar input:-moz-placeholder  {
	color:#e87638;
}
.sidebar input::-webkit-input-placeholder  {
	color:#e87638;
}

::selection {
	background: #e87638;
}
::-moz-selection {
	background: #e87638;
}

























